@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html{
    height: 100vh;
}

body{
box-sizing: border-box;
margin: 0;
padding: 0;
background-color:#000;
font-family: 'Nunito', sans-serif;
height: 100vh;
}

.container{
    background-color:#ffff;
    color: #000;
    max-width: 50%;
    margin:20px  auto;
    padding: 1em 2em;
    border-radius: 5px;
    height: 100%;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: black; 
}

.header_title{
    text-decoration: none;
    color: #000;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    text-decoration: none;
    color: #000;
    border-bottom: 0px solid #000;
}

.link:hover{
    border-bottom: 2px solid #000;

}

.btn{
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    height: fit-content;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    font-family: inherit;
}

.btnClose{
    background-color: red;
    color: #000;
    border: 2px solid #000;
}

.btnOpen{
    background-color: green;
    border: 2px solid #000;
}

.project{
    background: rgb(223, 223, 223);
    
    border: 1px solid #000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #000;
    font-family: inherit;
    position: relative;
    line-height: 0.9;

    margin-bottom:.5em;
    padding: .3em;
}



.project:hover{
    background-color: rgb(189, 189, 189);
    color: #fff;
    cursor: pointer;
}

.reminder{
    border-left: 5px solid green;
}

.fatimes{
    position: absolute;
    top: 0;
    left: 98%;
    border: none;
    border: 2px solid #000;
    border-radius: 3px;
    transform: rotate(34deg);
    cursor: pointer;
}

.fatimes:hover{
    background-color: red;
}

.form{
    color: #000;
    margin-bottom: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form_control input{
outline: none;
border: none;
border-bottom: 2px solid #000;
width: 80%;
margin: 3em 0;
font-size: 1rem;
}

.submitBtn{
    width: 100%;
    padding: 0.8em;
    border:2px solid #000;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.submitBtn:hover{
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.formClose{
    max-height: 0;
    transition: max-height 4s ease;
    overflow: hidden;
}

.formOpen{
    max-height: auto;
    transition: max-height 4s ease;
}

.likehateBtn{
    position:'relative';
    padding:'9px';
    margin-right: 1.2em;
}

.loveCounts{
    position:'absolute';
    color:'green';
    font-size:'0.8rem';
    
}
.heartBtn{
  border: none;
  border-radius: 50%;
}
.hateCounts{
    color:'red';
    font-size:'0.8rem';
    position:'absolute';
}

.aboutStyles{
    height:100%;
}

.tag{
    margin-left: 1em;
    border: none;
    border-radius: 50%;
}

.comment{
    font-size: 1em;
}

.form{
    width: 100%;
}


.messageBox{
    width: 98%;
    border-radius: 3px;
    min-height: 9em;
    padding: 1em 0.5em;
}

.addMessageBtn{
    padding: 0;
    margin: 0;
    width:100%;
    text-align: right;
}

.messageBoxBtn{
    border: none;
    outline: none;
    border: 2px solid #000;
    border-radius: 3px;
    padding: .6em 1em;
}

.messageBoxBtn:hover{
    background-color: green;
}

.message{
    list-style-type: none;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    margin-bottom: .3em;
}

.messageHead{
    text-transform: uppercase;
    font-size: 1rem;
}